<form (ngSubmit)="onSubmit(productForm)" #productForm="ngForm">
    <div>
        <input class="form-control my-3" placeholder="Name" name="name" [(ngModel)]="product.name" #name="ngModel"
            required>
    </div>
    <div class="text-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
        El nombre es requerido!
    </div>
    <div>
        <input class="form-control my-3" placeholder="Description" name="description" [(ngModel)]="product.description"
            #description="ngModel" required>
    </div>
    <div class="text-danger" *ngIf="description.invalid && (description.dirty || description.touched)">
        La descripcion es requerida!
    </div>
    <div>
        <input class="form-control my-3" type="number" placeholder="Price" name="price" [(ngModel)]="product.price"
            #price="ngModel" required min="5">
    </div>
    <div class="text-danger" *ngIf="price.invalid && (price.dirty || price.touched)">
        @if (price.errors!['required']) {
        <div>El precio es requerido!</div>
        }
        @if (price.errors!['min']) {
        <div> El Precio debe ser mayor a 5!</div>
        }
    </div>
    <div>
        <button [disabled]="!productForm.form.valid" type="submit" class="btn btn-primary">{{ product.id > 0 ? 'Update'
            : 'Crear' }}</button>
        <button type="button" class="btn btn-success mx-3" (click)="clean()">Clean</button>
    </div>

</form>